.textBoard, .roomBoard, .boardTest {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    text-align: center;
}

.boardOptionsArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.roomBoard {
    background-position: center;
    background-size: cover;
}

.roomBoard > * {
    color: white;
    text-shadow: 3px 3px black, 4px 4px black;
}

.multiFlexContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.multiHolder {
    height: 175px;
	width: 275px;
    margin: 20px;
    overflow: hidden;
}