.textBoard, .roomBoard, .boardTest {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
}

.boardOptionsArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}