body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.mainContainer {
	height: 100vh;
	width: 100vw;
}

.mainBodyContainer {
	height: 80%;
	width: 100%;
}

.mainBodyFlexContainer {
	height: 80%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.headerContainer {
	height: 20%;
	width: 100%;
	background-color: black;
	color: white;
}

.landingItem, .locationItem {
	height: 100px;
	width: 300px;
	margin: 50px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.deleteButton, .editButton {
	height: 45%;
	width: 14%;
	position: absolute;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.deleteButton {
	color: red;
	border: 1px solid red;
	top: 2px;
	right: 2px;
}

.editButton {
	color: yellow;
	border: 1px solid yellow;
	bottom: 2px;
	right: 2px;
}

/* ////////////////////////////////////////////////////////////////// SCREENS PAGE ////////////////////////////////////////////////////////////////// */

.boardViewItem {
	height: 175px;
	width: 275px;
	margin: 20px;
	background-color: black;
	color: white;
	text-align: center;
	position: relative;
	display: inline-block;
}

.boardViewThumb {
	height: 80%;
	width: 80%;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.boardEditButton {
	height: 20%;
	width: 12%;
	position: absolute;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	color: yellow;
	border: 1px solid yellow;
	bottom: 2px;
	right: 2px;
	border-radius: 5px;
}

/* ////////////////////////////////////////////////////////////////// MODAL AREA ////////////////////////////////////////////////////////////////// */

.modalBackground {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, .4);
	top: 0;
	left: 0;
	z-index: 10;
}

.modalArea {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50%;
	width: 50%;
	background-color: black;
	color: white;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
	border: 2px solid yellow;
}

.modalArea > div > input {
	text-align: center;
}

.modalLabel {
	display: block;
	text-align: center;
}

.modalButtons {
	width: 30%;
	display: flex;
	justify-content: space-around;
}