body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #dfdfdf;
}

.mainContainer {
	height: 100vh;
	width: 100%;
}

.mainBodyContainer {
	height: 80%;
	width: 100%;
	position: relative;
}

.mainBodyContainer > button {
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
}

.mainBodyContainer > button:hover {
	background-color: rgb(75, 75, 75);
	color: #d8f800;
}

.mainBodyFlexContainer {
	height: 80%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.mainBodyFlexContainer > form {
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
}

.mainBodyFlexContainer > form > button:hover {
	background-color: rgb(75, 75, 75);
	color: #d8f800;
}

.headerContainer {
	height: 20%;
	min-height: 80px;
	width: 100%;
	background-color: rgb(30, 30, 30);
	color: #dfdfdf;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	font-size: 6vmin;
	position: relative;
}

.headerContainer > * {
	padding-right: 10px;
}

.headerItem {
	cursor: pointer;
}

.headerLogo {
	/* position: absolute;
	top: 10%;
	left: 5%; */
	width: 10%;
}

.landingItem, .locationItem {
	height: 100px;
	width: 300px;
	margin: 50px;
	border-radius: 5px;
	background-color: rgb(30, 30, 30);
	color: #dfdfdf;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.landingItem:hover, .locationItem:hover {
	background-color: rgb(50, 50, 50);
	box-shadow: 2px 2px 5px rgb(30, 30, 30);
	color: #d8f800;
}

.deleteButton, .editButton {
	height: 40px;
	width: 40px;
	background-color: rgb(30, 30, 30);
	position: absolute;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.deleteButton {
	color: rgb(240, 54, 54);
	border: 2px solid rgb(240, 54, 54);
	top: 0;
	right: 0;
	transform: translate(30%, -30%);
}

.deleteButton:hover {
	color: black;
	background-color: rgb(240, 54, 54);
}

.editButton {
	color: rgb(243, 243, 75);
	border: 2px solid rgb(243, 243, 75);
	bottom: 0;
	right: 0;
	transform: translate(30%, 30%);
}

.editButton:hover {
	color: black;
	background-color: rgb(243, 243, 75);
}

button {
	cursor: pointer;
}

.mainBodyFlexContainer > form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.mainBodyFlexContainer > form input {
	color: #dfdfdf;
    background-color: #b1b1b1;
	border-color: #afafaf;
	text-align: center;
}

.mainBodyFlexContainer > form button {
	background-color: rgb(50, 50, 50);
    color: #dfdfdf;
    border-color: rgb(75, 75, 75);
}

.mainBodyContainer > button {
	background-color: rgb(50, 50, 50);
    color: #dfdfdf;
    border-color: rgb(75, 75, 75);
}

.mainBodyContainer > div:nth-child(1) {
	border-bottom: 1px solid rgb(30, 30, 30);
}

/* ////////////////////////////////////////////////////////////////// THUMBNAILS ////////////////////////////////////////////////////////////////// */

.boardViewItem {
	height: 175px;
	width: 275px;
	margin: 20px;
	border-radius: 5px;
	background-color: rgb(30, 30, 30);
	color: #dfdfdf;
	text-align: center;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.boardViewItem:hover {
	background-color: rgb(50, 50, 50);
	box-shadow: 2px 2px 5px rgb(30, 30, 30);
	color: #d8f800;
}

.boardViewThumb {
	height: 80%;
	width: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.boardEditButton {
	height: 20%;
	width: 12%;
	position: absolute;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(243, 243, 75);
	border: 2px solid rgb(243, 243, 75);
	bottom: 0;
	right: 0;
	border-radius: 50%;
	transform: translate(30%, 30%);
	background-color: rgb(30, 30, 30);
}

.boardEditButton:hover {
	color: black;
	background-color: rgb(243, 243, 75);
}

/* ////////////////////////////////////////////////////////////////// MODAL SECTION ////////////////////////////////////////////////////////////////// */

.editModalBackground, .deleteModalBackground {
	min-height: 100vh;
	width: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .4);
	top: 0;
	left: 0;
	z-index: 10;
}

.editModalArea, .deleteModalArea, .editModalBoardArea {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50%;
	width: 50%;
	background-color: rgb(30, 30, 30);
	color: #dfdfdf;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
	text-align: center;
}

.editModalArea {
	border: 2px solid rgb(243, 243, 75);
}

.deleteModalArea {
	border: 2px solid rgb(240, 54, 54);
}

.editModalArea > input {
	text-align: center;
}

.editModalArea > div > input {
	text-align: center;
}

.modalLabel {
	display: block;
	text-align: center;
}

.modalButtons {
	width: 30%;
	display: flex;
	justify-content: space-around;
}

.modalButtons > button {
	background-color: rgb(35, 36, 131);
	color: #dfdfdf;
	border-color: rgb(48, 50, 161);
}

.modalButtons > button:hover {
	background-color: rgb(48, 50, 161);
}

.modalButtons > .modalDeleteButton {
	background-color: rgb(121, 31, 31);
	border-color: rgb(168, 46, 46);
}

.modalButtons > .modalDeleteButton:hover {
	background-color: rgb(168, 46, 46);
}

.modalButtons > .modalSubmitButton {
	background-color: rgb(40, 107, 40);
	border-color: rgb(47, 121, 47);
}

.modalButtons > .modalSubmitButton:hover {
	background-color: rgb(47, 121, 47);
}

.modalBoardButtons {
	display: flex;
	justify-content: space-around;
}

.editModalBoardArea {
	justify-content: space-evenly;
	border: 1px solid rgb(243, 243, 75);
}

.editModalBoardArea > form input {
	text-align: center;
}

.editTransitionBoardOptions {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.editTransitionBoardOptions > div {
	height: 35px;
	width: 50px;
	color: black;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
}

.editTransItem {
	background-color: #dfdfdf;
}

.editTransItem:hover {
	background-color: #bebebe;
}

.editTransItemSelected {
	height: 35px;
	width: 50px;
	background-color: #d8f800;
	color: black;
}

.editTransItemSelected:hover {
	background-color: #c0dd00;
}